<#bs4Body>

<div class="container-fluid">
    <form id="addForm" role="form" novalidate>
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="" class="">客户类型<i class="red">*</i></label>
                <select id="" name="customerType" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="" class="">证件<i class="red">*</i></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select id="" name="aa" class="form-control" required>
                            <option value="1">企业</option>
                            <option value="1">个人</option>
                        </select>
                    </div>
                    <input type="text" class="form-control isChinese" name="bb" required/>
                    <div class="input-group-append">
                        <span class="input-group-text"><a href="javascript:;">读卡</a></span>
                    </div>
                </div>

            </div>
            <div class="form-group col">
                <label for="" class="">客户名称<i class="red">*</i></label>
                <input type="text" class="form-control isChinese" name="2" required/>
            </div>
            <div class="form-group col" data-type="company">
                <label for="" class="">法人代表<i class="red">*</i></label>
                <input type="text" class="form-control isChinese" name="3" required/>
            </div>
            <div class="form-group col" data-type="company">
                <label for="" class="">联系人<i class="red">*</i></label>
                <input type="text" class="form-control isChinese" name="4" required/>
            </div>
            <div class="form-group col">
                <label for="" class="">联系电话<i class="red">*</i></label>
                <input type="text" class="form-control isMobile" name="5" required/>
            </div>
        </div>

        <div class="text-right mt-2">
            <button type="button" class="btn btn-light px-5" id="formCancel">取消</button>
            <button type="button" class="btn btn-primary px-5" id="formSubmit">注册</button>
        </div>
    </form>
</div>
</#bs4Body>
<#customer_registerJs />
