<#bs4Body>

<div class="container-fluid">
   <%if (has(customer)){%>
        <h4 class="red"><span class="px-3">${customer.name!}</span><span class="px-3">${customer.code!}</span><span class="px-3">${customer.gradeValue!}</span></h4>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-baseInfo-tab" data-toggle="tab" href="#nav-baseInfo"
                    role="tab" aria-controls="nav-baseInfo" aria-selected="true">基本信息</a>
                <a class="nav-item nav-link" id="nav-cardInfo-tab" data-toggle="tab" href="#nav-cardInfo" role="tab"
                    aria-controls="nav-cardInfo" aria-selected="false">证件信息</a>
                <a class="nav-item nav-link" id="nav-resourceInfo-tab" data-toggle="tab" href="#nav-resourceInfo"
                    role="tab" aria-controls="nav-resourceInfo" aria-selected="false">资源信息</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-baseInfo" role="tabpanel" aria-labelledby="nav-baseInfo-tab">
                <form role="form" id="baseInfoForm" >
                    <div class="breadcrumb" aria-expanded="true">
                        基本信息
                    </div>
                    <div class="row row-cols-4">
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户名称</label>
                            <input type="text" class="form-control" name="customerame" maxlength="20" value="良芳" required  />
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户类型</label>
                            <input type="text" class="form-control" name="" value="企业" requNired disabled />
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户来源</label>
                            <input type="text" class="form-control" name="" required disabled />
                        </div>
                        <div class="form-group col">
                            <label for="" class="">客户行业</label>
                            <select class="form-control" name="" id=""></select>
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户级别</label>
                            <input type="text" class="form-control" name="" required disabled />
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户注册时间</label>
                            <input type="text" class="form-control" name="" required disabled />
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>客户状态</label>
                            <select name="" class="form-control" required ></select>
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>联系电话</label>
                            <input type="text" class="form-control" name="" value="18202828888" required />
                        </div>
                    </div>
                    <div class="breadcrumb" data-target="#customerInfo" aria-expanded="true"
                        aria-controls="customerInfo">
                        归属信息
                    </div>
                    <div class="row row-cols-4" id="customerInfo">
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>归属人</label>
                            <input type="text" class="form-control" name="" required />
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>归属组织</label>
                            <input type="text" class="form-control" name="" required disabled />
                        </div>
                        <div class="form-group col">
                            <label for="" class="">归属部门</label>
                            <input type="text" class="form-control" name="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="nav-cardInfo" role="tabpanel" aria-labelledby="nav-cardInfo-tab">
                <form role="form" id="cardInfoForm" >
                    <div class="breadcrumb" aria-expanded="true">
                        证件信息
                    </div>
                    <div class="row row-cols-4">
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i> 证件</label>
                            <input type="text" class="form-control" name="" required disabled/>
                        </div>
                        <div class="form-group col">
                            <label for="" class=""><i class="red">*</i>证件企业名称</label>
                            <input type="text" class="form-control" name="" required disabled/>
                        </div>
                        <div class="form-group col-auto">
                            <label class="justify-content-end">证件有效期</label>
                            <div class="form-inline">
                                <div class="input-group">
                                    <input type="text" name="" id="" value="" class="form-control laydate laystart"/>
                                    <div class="input-group-append">
                                        <label for="" class="input-group-text fa fa-calendar"></label>
                                    </div>
                                </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                                <div class="input-group">
                                    <input type="text" name="" id="" value="" class="form-control laydate layend"/>
                                    <div class="input-group-append">
                                        <label for="" class="input-group-text fa fa-calendar"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="" class="">证件地址</label>
                            <input type="text" class="form-control" name="" maxlength="50"/>
                        </div>
                        <div class="form-group col">
                            <label for="" class="">法人证件</label>
                            <input type="text" class="form-control" name="" maxlength="50"/>
                        </div>
                        <div class="form-group col">
                            <label for="" class="">法人姓名</label>
                            <input type="text" class="form-control" name="" maxlength="20"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="nav-resourceInfo" role="tabpanel" aria-labelledby="nav-resourceInfo-tab">
                <form role="form" id="resourceInfoForm" >
                    <div class="breadcrumb" aria-expanded="true">
                        联系人
                    </div>
                    <div>
                        <table class="table table-bordered table-hover table-striped text-center" id="customerTable">
                            <thead>
                            <tr>
                                <th class="align-middle" style="width: 5%"><a id="addCustomer" href="javascript:;"
                                                                              style="padding: 8px 18px;"><i
                                        class="fa fa-plus-square fa-lg"></i></a></th>
                                <th style="width: 10%;font-weight:normal; ">关系/职务</th>
                                <th style="width: 10%;font-weight:normal; ">*名称</th>
                                <th style="width: 5%;font-weight:normal; ">性别</th>
                                <th style="width: 10%;font-weight:normal; ">*电话</th>
                                <th style="width: 10%;font-weight:normal; ">民族</th>
                                <th style="width: 10%;font-weight:normal; ">出生日期</th>
                                <th style="width: 5%;font-weight:normal; ">默认</th>
                                <th style="width: 20%;font-weight:normal; ">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
            </div>
            </form>
        </div>
            <div class="text-right mt-2">
                <button type="button" class="btn btn-light px-5" id="formCancel">取消</button>
                <button type="button" class="btn btn-primary px-5" id="formSubmit">提交</button>
            </div>
        </form>

    <%}else{%>
        <h4 class="red"><span class="px-3">客户信息已不存在</span></h4>
    <%}%>

</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/bui/commonEdit.js"></script>
<#customer_updateJs />

<script  id="customerItem"  type="text/html">
    <tr data-index="{{index}}">
        <td class="align-middle"><a href="javascript:;" class="item-del" style="padding: 8px 18px;"><i class="fa fa-minus-square fa-lg"></i></a></td>

        <td></td>
        <td style="padding: .1rem!important;"><input type="text" id="name{{index}}" name="name{{index}}"value="陈{{name}}" class="form-control" maxlength="20" required></td>
        <td style="padding: .1rem!important;"><select name="sex{{index}}"  id="sex{{index}}" value="{{number}}" class="form-control">
            <option value="">请选择</option>
            <option value="1">男</option>
            <option value="2">女</option>
        </select></td>
        <td style="padding: .1rem!important;"><input type="text" id="tel{{index}}" name="tel{{index}}"value="{{tel}}" class="form-control isMobile" required></td>
        <td style="padding: .1rem!important;"><select name="nation{{index}}"  id="nation{{index}}" value="{{nation}}" class="form-control" >
            <option value="1">汉</option>
        </select></td>
        <td style="padding: .1rem!important;">
            <div class="input-group">
                <input type="text" name="borthdate{{index}}" id="borthdate{{index}}" value="" class="form-control laydate layend"/>
                <div class="input-group-append">
                    <label for="borthdate{{index}}"  class="input-group-text fa fa-calendar"></label>
                </div>
            </div>
        </td>
        <td class="align-middle" style="padding: .05rem!important;">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="default{{index}}" name="default" value="1">
                <label class="form-check-label" for="default{{index}}"></label>
            </div>
        </td>
        <td style="padding: .1rem!important;"><input type="text" id="mark{{index}}" name="mark{{index}}"value="{{mark}}" class="form-control" maxlength="20"></td>



    </tr>
</script>