<#bs4Body>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/main.css" />
<div class="container-fluid">
    <%if (has(customer)){%>
    <h4 class="red"><span class="px-3">${customer.name!}</span><span class="px-3">${customer.code!}</span><span class="px-3">${customer.gradeValue!}</span></h4>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-baseInfo-tab" data-toggle="tab" href="#nav-baseInfo"
               role="tab" aria-controls="nav-baseInfo" aria-selected="true">基本信息</a>
            <a class="nav-item nav-link" id="nav-cardInfo-tab" data-toggle="tab" href="#nav-cardInfo" role="tab"
               aria-controls="nav-cardInfo" aria-selected="false">证件信息</a>
        </div>
    </nav>
    <form id="addForm" role="form" novalidate>
        <input type="hidden" id="id" value="${customer.id!}">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-baseInfo" role="tabpanel" aria-labelledby="nav-baseInfo-tab">
                <div class="breadcrumb" aria-expanded="true">
                    基本信息
                </div>
                <div class="row row-cols-4">
                    <div class="form-group col">
                        <label for="" class="">客户名称</label>
                        <input type="text" class="form-control" name=""  value="${customer.name!}"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户类型</label>
                        <select id="organizationType" name="organizationType" class="form-control"  ></select>
                        <#bcomboProvider _id="organizationType" _provider="organizationTypeProvider"  _valueField="value" _textField="text" _value="${customer.organizationType!}" _onLoadSuccess="organizationTypeLoadSuccess"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class="">来源渠道</label>
                        <input type="text" class="form-control" name=""  disabled value="${customer.sourceChannelValue!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户行业</label>
                        <select id="profession"  name="profession" class="form-control select-no-down"  ></select>
                        <#bcomboProvider _id="profession" _provider="dataDictionaryValueProvider"  _queryParams='{dd_code:"customer_business",emptyText:""}'  _valueField="value" _textField="text" _value="${customer.profession!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户级别</label>
                        <input type="text" class="form-control" name="" value="${customer.gradeValue!}"  />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户注册时间</label>
                        <input type="text" class="form-control" name=""  value="${customer.marketCreateTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户状态</label>
                        <input type="text" class="form-control" name="" value="${customer.stateValue!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">联系电话</label>
                        <input type="text" class="form-control" name="" value="${customer.contactsPhone!}" />
                    </div>
                </div>
                <div class="breadcrumb" data-target="#customerInfo" aria-expanded="true"
                     aria-controls="customerInfo">
                    归属信息
                </div>
                <div class="row row-cols-4" id="customerInfo">
                    <div class="form-group col">
                        <label for="" class="">归属人</label>
                        <input type="text" class="form-control" name="" value="${customerMarket.ownerName!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">归属组织</label>
                        <input type="text" class="form-control" name="" value="${customerMarket.marketName!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class="">归属部门</label>
                        <input type="text" class="form-control" name="" value="${customerMarket.departmentName!}" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="nav-cardInfo" role="tabpanel" aria-labelledby="nav-cardInfo-tab">
                <div class="breadcrumb" aria-expanded="true">
                    证件信息
                </div>
                <div class="row row-cols-4">
                    <div class="form-group col">
                        <input type="hidden" id="certificateTypeCode" value="${customer.certificateType!}">
                        <label for="" class=""> 证件</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="certificateType" name="certificateType" class="form-control">
                                </select>
                            </div>
                            <input type="text" class="form-control" id="certificateNumber" name="certificateNumber" value="${customer.certificateNumber!}"/>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="" class="">证件姓名</label>
                        <input type="text" class="form-control" name="" value="${customer.name!}" />
                    </div>

                    <div class="form-group col">
                        <label for="" class=""> 证件有效期</label>
                        <input type="text" class="form-control" name="" value="${customer.certificateRange!}" />
                    </div>

                    <div class="form-group col">
                        <label for="" class="">证件地址</label>
                        <input type="text" class="form-control" name=""  value="${customer.certificateAddr!}"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <%}else{%>
    <h4 class="red"><span class="px-3">客户信息已不存在</span></h4>
    <%}%>
</div>

</#bs4Body>

<#customer_commonJs />

<script>

    $(function () {
        $(":input").attr("disabled", true);
        $("select").addClass("select-no-down");
    });

    /**
     * 组织类型加载成功后执行的方法
     */
    function organizationTypeLoadSuccess() {
        //加载证件信息
        getCertificateType($('#organizationType').val(), 'certificateType', $('#certificateTypeCode').val());
    }

</script>