<#bs4Body>

<div class="container-fluid">
    <#bs4nav>
    <form id="customerQueryForm" role="form" >
        <input type="hidden" id="organizationType" name="organizationType" value="${organizationType!}">
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="">选择市场<i class="red">*</i></label>
                <select class="form-control" id="marketId" name="marketId" required></select>
                <#bcomboProvider _id="marketId" _provider="marketProvider"  _onLoadSuccess="" />
            </div>
            <div class="form-group col">
                <label for="">客户渠道<i class="red">*</i></label>
                <select class="form-control" id="sourceChannel" name="sourceChannel" required></select>
                <#bcomboProvider _id="sourceChannel" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"source_channel", required:true}'  _onLoadSuccess="" />
            </div>
            <div class="form-group col">
                <label for="">归属人/操作人<i class="red">*</i></label>
                <input type="text" name="operatorId" class="form-control digits" placeholder="请输入归属人(或操作人)的ID" value="58" required>

            </div>
            <div class="form-group col">
                <label for="">客户数据<i class="red">*</i></label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="customFileupload" >
                    <label class="custom-file-label" for="customFileupload" data-browse="打开" id="showFileName">选择文件</label>
                </div>
            </div>
            <div class="col align-self-center mt-3">
                <button type="button" class="btn btn-primary px-5" id="formSubmit">提交</button>
            </div>
        </div>
    </form>
    </#bs4nav>
    <div class="row">
        <div class="col-12">
            <table id="customerUploadResultGrid" data-toggle="table" data-undefined-text="数据错误" data-show-export="true" data-export-types="excel" >
                <thead>
                    <tr>
                        <th data-width-unit="%" data-width="10" data-field="name" data-align="center">
                            姓名
                        </th>
                        <th data-width-unit="%" data-width="20" data-field="certificateNumber" data-align="center" data-tableexport-msonumberformat="\@" data-tableexport-xlsxformatid="49" >
                            证件号
                        </th>
                        <th data-width-unit="%" data-width="10" data-field="certificateAddr" data-align="center">
                            处理结果
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</#bs4Body>

<script src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.ui.widget.js"></script>
<script src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="${contextPath}/resources/bui/lib/jquery-fileupload/jquery.fileupload.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<!--<script src="${contextPath}/resources/bui/lib/bootstrap-table/dist/extensions/export/tableExport.min.js"></script>-->
<script  src="${contextPath}/resources/bui/lib/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script>

    var fileData;

    $(function () {
        $("#customerQueryForm").validate();
        $('#customFileupload').fileupload({
            type: 'post',
            url: '/customer/doImport.action',
            dataType: 'json',
            autoUpload: false,
            singleFileUploads: false,
            multipart: true,
            change: function (e, data) {
                $('#showFileName').html(data.files[0].name)
            },
            add: function (e, data) {
               /* var uploadErrors = [];
                var acceptFileTypes = /^.*\.(xls|xlsx)$$/i;

                if(data.originalFiles[0].type.length && !acceptFileTypes.test(data.originalFiles[0].type)) {
                    uploadErrors.push('xlsx， xls');
                }
                if(data.originalFiles[0].size > (2*1024*1024)) {
                    uploadErrors.push('请上传不超过2M的文件');
                }
                if(uploadErrors.length > 0) {
                    bs4pop.alert(uploadErrors.join("\n"));
                }*/
                console.log('ready')
                fileData = data;
            },
            done: function (e, data) {
                if (!data.result.success) {
                    bs4pop.alert(data.result.message, {type: 'error'});
                    return false;
                }
                bui.loading.hide();
                bs4pop.alert('客户导入成功', {type: 'success'}, function () {
                    $('#customerUploadResultGrid').bootstrapTable('refreshOptions', {data: data.result.data});

                });
            },
        });


    });

    // 导出excel
    $('#customerUploadResultGrid').on('export-saved.bs.table', function(){
        $('#customerUploadResultGrid').tableExport({
            type:'excel',
            fileName: '客户数据导入处理结果',
            mso: {
                fileFormat: 'xlshtml',
                onMsoNumberFormat:function(cell,row,col) {
                    debugger
                    if(col==1) {
                        return "\\@";
                    }
                }
            }
        })
    })

    $(document).on('click', '#formSubmit', function(){
        if (!$("#customerQueryForm").validate().form()) {
            return false;
        }
        bui.util.debounce(function(){
            if (!fileData) {
                bs4pop.alert("未选择客户文件!", {type: 'error'});
                return false;
            }
            bui.loading.show();
            fileData.submit();
        }, 1000, true)(fileData)
    })


</script>


