<#bs4Body>

<div class="container-fluid">
    <%if (has(customer)){%>
        <h4 class="red"><span class="px-3">${customer.name!}</span><span class="px-3">${customer.code!}</span><span class="px-3">${customer.gradeValue!}</span></h4>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-baseInfo-tab" data-toggle="tab" href="#nav-baseInfo"
                   role="tab" aria-controls="nav-baseInfo" aria-selected="true">基本信息</a>
                <a class="nav-item nav-link" id="nav-cardInfo-tab" data-toggle="tab" href="#nav-cardInfo" role="tab"
                   aria-controls="nav-cardInfo" aria-selected="false">证件信息</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-baseInfo" role="tabpanel" aria-labelledby="nav-baseInfo-tab">
                <form role="form" id="baseInfoForm" >
                    <input type="hidden" id="id" name="id" value="${customer.id!}">
                    <div class="breadcrumb" aria-expanded="true">
                        基本信息
                    </div>
                    <div class="row row-cols-4">
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户名称</label>
                        <input type="text" class="form-control" name="name" maxlength="20" required  value="${customer.name!}"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户类型</label>
                        <select id="organizationType" name="organizationType" class="form-control" disabled ></select>
                        <#bcomboProvider _id="organizationType" _provider="organizationTypeProvider"  _valueField="value" _textField="text" _value="${customer.organizationType!}" _onLoadSuccess="organizationTypeLoadSuccess"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户来源</label>
                        <input type="text" class="form-control" name=""  disabled value="${customer.sourceChannelValue!}"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class="">客户行业</label>
                        <select id="profession" name="profession" class="form-control"></select>
                        <#bcomboProvider _id="profession" _provider="dataDictionaryValueProvider"  _queryParams='{dd_code:"customer_business"}'  _valueField="value" _textField="text" _value="${customer.profession!}" />
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户级别</label>
                        <input type="text" class="form-control" name="" required disabled value="${customer.gradeValue!}"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户注册时间</label>
                        <input type="text" class="form-control" name="" required disabled value="${customer.createTime!,localDateTimeFormat='yyyy-MM-dd HH:mm:ss'}"/>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>客户状态</label>
                        <select id="state" name="state" class="form-control" required ></select>
                        <#bcomboProvider _id="state" _provider="stateProvider"  _valueField="value" _textField="text" _value="${customer.state!}" _queryParams='{required:true}'/>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>联系电话</label>
                        <input type="text" class="form-control" name="contactsPhone" required value="${customer.contactsPhone!}"/>
                    </div>
                </div>
                <div class="breadcrumb" data-target="#customerInfo" aria-expanded="true"
                     aria-controls="customerInfo">
                    归属信息
                </div>
                <div class="row row-cols-4" id="customerInfo">
                    <div class="form-group col">
                        <label for="_ownerId" class=""><i class="red">*</i>归属人</label>
                        <div class="col-10">
                            <#bautoCompleteProvider _hiddenDomainId="ownerId" _hiddenDomainName="ownerId" _displayDomainId="_ownerId" _displayDomainName="_ownerId" _placeholder="" _provider="userProvider" _validatorMethod="isSelected" _value="${customerMarket.ownerId!}" _text="${customerMarket.ownerName!}"  _required="true" />
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>归属组织</label>
                        <input type="hidden" id="marketId" name="marketId" value="${customerMarket.marketId!}">
                        <input type="text" class="form-control" name="" required disabled value="${customerMarket.marketName!}"/>
                    </div>
                    <div class="form-group col">
                        <input type="hidden" id="currentDepartmentId" value="${customerMarket.departmentId}">
                        <label for="" class="">归属部门</label>
                        <select id="departmentId" name="departmentId" class="form-control">
                        </select>
                    </div>
                </div>
                </form>
            </div>
            <div class="tab-pane" id="nav-cardInfo" role="tabpanel" aria-labelledby="nav-cardInfo-tab">
                <form role="form" id="cardInfoForm" >

                <div class="breadcrumb" aria-expanded="true">
                    证件信息
                </div>
                <div class="row row-cols-4">
                    <div class="form-group col">
                        <input type="hidden" id="certificateTypeCode" value="${customer.certificateType!}">
                        <label for="" class=""><i class="red">*</i> 证件</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="certificateType" name="certificateType" class="form-control" disabled>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="certificateNumber" name="certificateNumber" value="${customer.certificateNumber!}" readonly disabled/>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="" class=""><i class="red">*</i>证件名称</label>
                        <input type="text" class="form-control" name="" value="${customer.name}" required disabled />
                    </div>

                    <div class="form-group col">
                        <label for="" class="">证件有效期</label>
                        <div class="input-group">
                            <input type="text" class="form-control laydate" id="certificateRange" name="certificateRange" value="${customer.certificateRange!}" />
                            <div class="input-group-append">
                                <label for="certificateRange"  class="input-group-text fa fa-calendar"></label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text"><a id="longTerm" href="javascript:;">长期</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="" class="">证件地址</label>
                        <input type="text" class="form-control" name="" maxlength="50" />
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="text-right mt-2">
            <button type="button" class="btn btn-light px-5" id="formCancel" onclick="javascript:parent.dia.hide()">取消</button>
            <button type="button" class="btn btn-primary px-5" id="formSubmit">提交</button>
        </div>
    <%}else{%>
        <h4 class="red"><span class="px-3">客户信息已不存在</span></h4>
    <%}%>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/bui/commonEdit.js"></script>
<#customer_commonJs />
<#customer_updateJs />
<script>
    /**
     * 组织类型加载成功后执行的方法
     */
    function organizationTypeLoadSuccess() {
        //加载证件信息
        getCertificateType($('#organizationType').val(), 'certificateType', $('#certificateTypeCode').val());
    }

    $(function () {
        listDepartmentByMarketId($('#marketId').val(),'departmentId',$('#currentDepartmentId').val(),'--请选择--');
    })
</script>
